
.medical-records-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 20px 40px;
}
.medical-records-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 2000px;
}

.record-card {
    background: lightblue;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.2s ease-in-out;
}

.record-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.record-title {
    font-size: 1.5rem;
    margin: 10px 0;
    color: #333;
}

.record-description {
    font-size: 1rem;
    color: #666;
}

.upload-container {
    margin-top: 10px;
}

.upload-label {
    display: inline-block;
    padding: 10px 15px;
    background-color: white;
    color: darkblue;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    border: 2px solid lightblue;
    transition: background-color 0.3s ease-in, color 0.3s ease-in, transform 0.2s ease-in;
}

.upload-label:hover {
    background-color: #0056b3;
    color: white;
    transform: scale(1.05); /* Slightly enlarge on hover */
}

.upload-container input {
    display: none; /* Hide default input */
}
