@import "tailwindcss";

body{
  background-color: #f5f1ea;
  min-height: 100vh;
  width: 100%;
}
/* .stepcounter{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 5px solid gray;
  border-bottom: 5px solid transparent;
} */

